munkres==1.1.4
packaging==21.3
Pillow==9.5.0
prettytable==3.4.1
Shapely==1.8.4
tabulate==0.8.10
tqdm==4.65.0  # Upgraded to resolve compatibility with openxlab
ujson==5.5.0
numpy==1.19.5
matplotlib==3.3.4  # Adjusted for compatibility with numpy version
opencv-python
ortools==9.3.10497
pandas==1.2.5  # Downgraded for numpy compatibility
scipy==1.5.4
tensorflow>=2.5.0  # Choose a version that's known to work with newer typing-extensions.
typing-extensions>=4.0.0,<5.0    